.form-control:focus{
    border-color: #dee;
}

.top-40{
    top: 40px  !important;
}

label{
    transition: all 0.4s;
}

.widthContact{
    width: 60%;
}

@media (max-width: 992px) {
    .widthContact{
        width: 85%;
    }
}