<section class="py-5 d-flex justify-content-center align-items-center flex-column">
    <app-star [titleStar]="titlePortfolio" [customColor]="colorPortfolio"></app-star>
    <div class="container pt-4">
        <div class="row g-3">
            @for (item of portfolioSrc; track $index) {
                <div class="col-lg-4 col-md-6">
                    <figure class="position-relative overflow-hidden ">
                        <img [src]="item" class="w-100 rounded-3" alt="poert">
                        <figcaption (click)="flag = false; layerImg = item "   class="position-absolute w-100 h-100 start-0 top-0 d-flex justify-content-center align-items-center bg-sec rounded-3">
                            <i class="fa-solid fa-plus fa-6x text-white"></i>
                        </figcaption>
                    </figure>
                </div>
            }
        </div>
    </div>
</section>

<div class="layer position-fixed h-100 w-100 start-0 top-0 d-flex align-items-center justify-content-center bg-primary bg-opacity-50" [class.d-none]="flag" (click)="hideLayer($event.target, img)">
    <img #img [src]="layerImg" width="550" alt="poert1" class="rounded-3">
</div>