nav{
    transition: all 0.5s;
}

.active{
    background-color: var(--sec-color);
    border: none;
    border-radius: 10px;
    width: fit-content;
}

.titleNav{
    font-size: 28px;
}

.liNav{
    font-size: 20px;
}

@media (max-width: 768px) {
    .active{
    background-color: var(--sec-color);
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 8px;
    }
}

@media (min-width: 321px) and (max-width: 414px) {
    .titleNav{
        font-size: 22px;
    }

    .liNav{
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .titleNav{
        font-size: 18px;
    }

    .liNav{
        font-size: 15px;
    }
}