<nav class="navbar navbar-expand-md bg-main fixed-top" [class.p-4]="!isScrolling">
    <div class="container">
      <a class="navbar-brand fw-bold text-uppercase titleNav" routerLink="">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-uppercase fw-semibold liNav" aria-current="page" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold mx-md-3 liNav" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-semibold liNav" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
